@model BloodBank.Models.BloodTypeInfo

<h2>Update Blood Type Stock Level</h2>
<form asp-action="UpdateStockLevel" method="post">
    <div class="form-group">
        <label for="Levels">Level</label>
        <input type="text" class="form-control" id="Level" name="Level" />
    </div>
    <button type="submit" class="btn btn-primary">Update Levels</button>
</form>
